body {
    background-color: #E97451;
  }
  
  .container {
    /* display: block; */
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: #4A0404;
    margin-top: 15vh;
    font-size: 3vw;
  }
  
  /* img {
    margin: 0 auto;
    width: 20%;
    text-align: center;
    color: #4A0404;
    margin-top: 10%;
    font-size: 4vw;
    display: block;
  }
   */